{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
            background-color: blue;
        }
    </style>
</head>
<body>
<div></div>
<p class="required">This is the login page</p>
<img src="{% static 'img.png' %}" alt="">

<a href="/">home</a>
<a href="/about/">About</a>
<a href="/service/">Services</a>
<a href="/contact/">Contacts</a>
<a href="/login/">Login</a>
<a href="/logout/">logout</a>
</body>
</html>